.button {
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    margin: 0px 5px;
}

.button:hover {
    filter: brightness(90%);
}