.form {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: blue;
    border-color: blue;
    color: white;
}

.button:hover {
    filter: brightness(90%);
}

.input {
    flex: 1;
}